.imagen-esp-tg
  background: url("../images/tg/foto-tg.jpg") no-repeat center

.imagen-esp-tt
  background: url("../images/tt/foto-tt.jpg") no-repeat center

.imagen-esp-lt
  background: url("../images/lt/foto-lt.jpg") no-repeat center


.esp
  &-content
    height: 900px
    font-size: 1.2em
    margin-bottom: 80px
    p
      margin-bottom: 30px
    ul
      li
        padding-left: 20px
        line-height: 40px 
    h3
      margin-top: 100px
      color: $rosa
    &-col1
      background-color: #F2F2F2
      padding: 50px
    &-col2
