.h-tg
  background: url("../images/tg/header-tg.jpg") no-repeat center

.h-tt
  background: url("../images/tt/header-tt.jpg") no-repeat center

.h-lt
  background: url("../images/lt/header-lt.jpg") no-repeat center

.esp
  &-header
    height: 300px
  &-titulo
    height: 320px
    display: flex
    flex-direction: column
    justify-content: center
    color: $color-texto
    &-icono
      width: 170px
      position: absolute
      left: 200px
